fastapi~=0.111.1
uvicorn~=0.30.4
openai>=1.99.0,<2
httpx<0.28
pydantic
python-dotenv~=1.0.1
pillow~=10.4.0
pydantic_core==2.20.1
colorlog==6.8.2
pika
sse_starlette
requests-toolbelt
requests~=2.32.0
modal>=1.0.0
